{{define "backup-model"}}
<button onclick="openDialog('create-backup')" class="primary" style="float: right">Backup Now ☁️&#8593;</button>
<dialog id="create-backup">
    <article>
        <header>
            <button onclick="closeDialog('create-backup')" aria-label="Close" rel="prev"></button>
            <p>
                <strong>New Backup ☁️&#8593;</strong>
            </p>
        </header>
        <form id="create-backup-input" action="/ui" method="POST">
            <input type="hidden" name="action" value="backup">
            <p>
                Create Backup
                <label style="float: right">
                    <input name="dry-run" type="checkbox" role="switch" checked/>
                    Dry Run
                </label>
            </p>
            <label>
                Backup Id
                <input type="text" id="id-override" placeholder="Leave blank to autogenerate" value="{{.Args.BackupId}}"/>
            </label>  
            {{template "filter-option" map "Name" "Include Names" "Id" "include-names" "Existing" .Args.Filters.IncludeNames}}
            {{template "filter-option" map "Name" "Include Volumes" "Id" "include-volumes" "Existing" .Args.Filters.IncludeVolumes}}
            {{template "filter-option" map "Name" "Exclude Names" "Id" "exclude-names" "Existing" .Args.Filters.ExcludeNames}}
            {{template "filter-option" map "Name" "Exclude Volumes" "Id" "exclude-volumes" "Existing" .Args.Filters.ExcludeVolumes}}
        </form>
        <footer>
            <button onclick="submitForm('create-backup-input', true)" className="secondary" type="submit">Start</button>
            <button onclick="closeDialog('create-backup')" className="secondary">Cancel</button>
        </footer>
    </article>
</dialog>
{{end}}

{{define "filter-option"}}
<div>
    <button type="button"  onclick="addInput(this.parentNode, '{{.Id}}')">+</button>
    {{.Name}}
    {{range .Existing}}
    <div role="group">
        <input type="text" name="{{.}}" value="{{.}}"/>
        <button onclick="removeInput(this)">-</button>
    </div>
    {{end}}
</div>
{{end}}

