{{define "notifications"}}
<h4>Notifications</h4>
<form id="notifications" action="/ui" method="POST">
    <input type="hidden" name="action" value="notifications">
    
    <label>
        Notification URLs:
        {{range .NotificationUrls}}
        <input type="text" name="notification-urls" value="{{.}}" disabled>
        {{end}}
    </label>
    </br>
    <label>
        Notify Job Started
        <input type="checkbox" name="notify-job-started" {{if .NotifyJobStarted}}checked{{end}} disabled>
    </label>
    <label>
        Notify Job Completed:
        <input type="checkbox" name="notify-job-completed" {{if .NotifyJobCompleted}}checked{{end}} disabled>
    </label>
    <label>
        Notify Job Error:
        <input type="checkbox" name="notify-job-error" {{if .NotifyJobError}}checked{{end}} disabled>
    </label>
    </br>
    <label>
        Notify Task Started
        <input type="checkbox" name="notify-task-started" {{if .NotifyTaskStarted}}checked{{end}} disabled>
    </label>
    <label>
        Notify Task Completed
        <input type="checkbox" name="notify-task-completed" {{if .NotifyTaskCompleted}}checked{{end}} disabled>
    </label>
    <label>
        Notify Task Error
        <input type="checkbox" name="notify-task-error" {{if .NotifyTaskError}}checked{{end}} disabled>
    </label>
</form>
{{end}}
urls
enable flagss

