{{define "restore-model"}}
<button onclick="openDialog('restore-{{.Id}}')">Restore &#8634;</button>
<dialog id="restore-{{.Id}}">
    <article>
        <header>
            <button onclick="closeDialog('restore-{{.Id}}')" aria-label="Close" rel="prev"></button>
            <p>
                <strong>Restore Backup &#8634;</strong>
            </p>
        </header>
        <form id="restore-input-{{.Id}}" action="/ui" method="POST">
            <p>
                Restoring Backup <b>{{.Id}}</b>
                <label style="float: right">
                    <input name="dry-run" type="checkbox" role="switch" checked />
                    Dry Run
                </label>
            </p>
            <ul>
                <li>
                    Type: {{.Type}}</li>
                <li>Date: {{date .Created}}</li>
                <li>Time: {{time .Created}}</li>
            </ul>
            <p>
                Select volumes to restore:
            </p>
                <input type="hidden" name="action" value="restore">
                <input type="hidden" name="id" value="{{.Id}}">
    
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Size(kb)</th>
                            <th>Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Volumes}}
                        <tr>
                            <td><input type="checkbox" id="{{.Name}}" name="volumes" value="{{noFileExtension .Name}}"></td>
                            <td>{{.Name}}</td>
                            <td>{{.Size}}</td>
                            <td>{{.Mount}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
        </form>
        <footer>
            <button onclick="closeDialog('restore-{{.Id}}')" className="secondary">Cancel</button>
            <button onclick="submitForm('restore-input-{{.Id}}')" type="submit">Restore</button>
        </footer>
    </article>
</dialog>
{{end}}