{{define "backups-table"}}
<table class="striped">
    <thead>
        <tr>
            <th style="width: 20%">ID</th>
            <th style="width: 15%">Created</th>
            <th style="width: 40%">Volumes</th>
            <th style="width: 25%"></th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{date .Created}}</br>{{time .Created}}</td>
            <td>
                <ul>
                    {{range .Volumes}}
                    <li>{{.Name}} ({{.Size}}kb)</li>
                    {{end}}
                </ul>
            </td>
            <td>
                <span>
                    {{template "restore-model" .}}
                    {{template "delete-model" .}}
                </span>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}