{{define "page-start"}}
<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
	<body>
        {{template "model-functions"}}
        {{template "header" .Cron}}
		<main>
            <div role="group">
                <aside style="width: 5%; text-align: center;">
                    <nav>
                        <ul>
                            <li>
                                <a href="/ui" class="secondary">Backups</a>
                            </li>
                            <li>
                                <a href="/ui/settings" class="secondary">Settings</a>
                            </li>
                            <li>
                                <a href="https://sbnarra.github.io/bckupr" target="_blank" class="secondary">User Guide</a>
                            </li>
                            <li>
                                <a href="https://github.com/sbnarra/bckupr" target="_blank" class="secondary">Source</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section style="width: 90%" class="container-fluid">
{{end}}