{{define "global"}}
<h4>Global</h4>
<form id="cron" action="/ui/settings" method="POST">
    <input type="hidden" name="action" value="global">

    <table>
        <thead>
            <tr>
                <th>Dry Run</th>
                <th>Debug</th>
                <th>Metrics</th>
                <th>TCP API</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="dry-run" {{if .DryRun}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="debug" {{if .Debug}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="metrics-enabled" {{if .Web.Metrics}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="api-exposed" {{if .Web.TcpApi}}checked{{end}} disabled></td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Docker Hosts</td>
                <td>
                    {{range .Args.DockerHosts}}
                    <input type="text" name="docker-hosts" value="{{.}}" disabled>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>Label Prefix</td>
                <td><input type="text" name="label-prefix" value="{{.Args.LabelPrefix}}" disabled></td>
            </tr>
            <tr>
                <td>Backup Directory</td>
                <td><input type="text" name="backup-dir" value="{{.BackupDir}}" disabled></td>
            </tr>
            <tr>
                <td>TCP Bind</td>
                <td><input type="text" name="tcp-addr" value="{{.Web.TcpAddr}}" disabled></td>
            </tr>
            <tr>
                <td>Unix Socket</td>
                <td><input type="text" name="unix-socket" value="{{.Web.UnixSocket}}" disabled></td>
            </tr>
        </tbody>
    </table>
</form>
{{end}}
