{{define "notifications"}}
<h4>Notifications</h4>
<form id="notifications" action="/ui" method="POST">
    <input type="hidden" name="action" value="notifications">

    <table>
        <tbody>
            <tr>
                <td>Notification URLs (<a href="https://containrrr.dev/shoutrrr/latest/services/overview/" target="_blank">Shoutrrr Docs</a>)</td>
                <td>
                    {{range .NotificationUrls}}
                    <input type="text" name="notification-urls" value="{{.}}" disabled>
                    {{end}}
                </td>
            </tr>
        </tbody>
    </table>

    <p>Per backup/restore job:</p>
    <table>
        <thead>
            <tr>
                <th>Job Started</th>
                <th>Job Completed</th>
                <th>Job Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="notify-job-started" {{if .NotifyJobStarted}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="notify-job-completed" {{if .NotifyJobCompleted}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="notify-job-error" {{if .NotifyJobError}}checked{{end}} disabled></td>
            </tr>
        </tbody>
    </table>


    <p>Per volume for each job:</p>
    <table>
        <thead>
            <tr>
                <th>Task Started</th>
                <th>Task Completed</th>
                <th>Task Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="notify-task-started" {{if .NotifyTaskStarted}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="notify-task-completed" {{if .NotifyTaskCompleted}}checked{{end}} disabled></td>
                <td><input type="checkbox" name="notify-task-error" {{if .NotifyTaskError}}checked{{end}} disabled></td>
            </tr>
        </tbody>
    </table>
</form>
{{end}}
urls
enable flagss

